language: php

php:
  - 5.5
  - 5.6
  - hhvm

env:
  - SYMFONY_VERSION=2.7.*

sudo: false

matrix:
  fast_finish: true
  include:
    - php: 5.5
      env: SYMFONY_VERSION=2.8.*
    - php: 5.6
      env: SYMFONY_VERSION=2.8.*
  allow_failures:
    - php: hhvm

before_script:
  - curl -sS https://getcomposer.org/installer | php
  - php composer.phar require symfony/symfony:${SYMFONY_VERSION} --no-update
  - php composer.phar update --prefer-stable --prefer-lowest

notifications:
  email:
    - develop@netteam.pl
